#feedback-widget {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.star-widget {
    display: inline-block;
}

.fas {
    font-size: 24px;
    color: #ffd700; /* Gold color for stars */
    transition: transform 0.2s ease-in-out;
}

.fas:hover,
.fas:hover ~ .fas {
    transform: scale(1.1);
}

